*/__pycache__/*
.vscode/
.idea/
.trunk/
.local_tests/
*.pyc
*.db
.gitignore
.gitattributes
dist
MetaXTools.egg-info
.pypirc
output
metax/data/go-basic.obo
metax/data/enzyme.dat
build
venv
*.egg-info
conda-recipe