*.pyc
tests/test.ipynb
*/__pycache__/*
tests/
data/MetaX-human-gut-new.db
.vscode/settings.json
data/MetaX-human-gut.db
.gitignore
.gitattributes
todo.md
.idea/MetaX.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
