adjustText==1.0b0
distinctipy==1.2.2
fire==0.4.0
joblib==1.2.0
matplotlib==3.7.1
numpy==1.23.2
pandas==2.0.1
pydeseq2==0.4.4
pyecharts==2.0.4
PyQt5==5.15.10
PyQt5_sip==12.12.1
qt_material==2.14
QtAwesome==1.2.3
Requests==2.31.0
scikit_bio==0.5.9
scikit_learn==1.2.2
scipy==1.11.4
seaborn==0.13.0
statsmodels==0.14.0
tqdm==4.65.0
PyQtWebEngine
fastcluster
