distinctipy==1.2.2
matplotlib==3.7.1
numpy==1.24.3
pandas==2.0.1
pydeseq2==0.3.3
pyecharts==2.0.3
PyQt5==5.15.9
qt_material==2.14
scikit_learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
statsmodels==0.14.0
tqdm==4.65.0
PyQtWebEngine==5.15.6


# PyQtWebEngine distinctipy  joblib matplotlib numpy pandas pydeseq2 pyecharts PyQt5  qtawesome qt_material scikit_learn scipy seaborn statsmodels tqdm setuptools_scm fastcluster